@CHARSET "UTF-8";

.dWRAP2 {
	width: 95%;
	border: 0px solid;
	background-color: white;
	margin: auto;
	height: auto;
	overflow: auto;
	height: auto;
	padding: 0px;
}

.dWRAP2 input{
	font-size: 13px;
}
 
.clazz_form, .clazz_form input, .clazz_form select {
	font-size: 13px;
}

.clazz_form{
	width: 100%;
	margin: auto;
	border: 0px solid;
}
.dLabel1 {
	height: 30px;
	width: 100%;
	/*  background-color: #B8B8B8; */
	font-family: Candana;
	font-size: 20px;
	font-weight: bolder;
	line-height: 30px;
	text-indent: 10px;
	border-bottom: 1px solid #B8B8B8;
	margin-bottom: 10px;
}

.dLabel2 {
	width: 30%;
	background-color: #f5f5f0;
	font-size: 13px;
}

.dLabel2, .dValue1 {
	padding-left: 5px;
}

.dValue1>select {
	width: 160px;
	border-radius: 2px;
	border: 1px solid #E0E0E0;
	height: 20px;
}

.dButton {
	background-color: #3399ff;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
	width: 93px;
	height: 25px;
	/* border: 0px solid #E0E0E0; */
	*/
	/* 	border-radius: 2px;
	cursor: pointer; */
}

.register_table {
	width: 90%;
	border-collapse: collapse;
	margin: auto;
	margin-top: 2%;
}

.register_table table, .register_table tr, .register_table td {
	border: 1px solid #C8C8C8;
	padding: 10px;
}

.clDATA {
	border-radius: 2px;
	border: 1px solid #E0E0E0;
	height: 22px;
	padding-left: 2px;
}

.clDATA2 {
	width: 300px;
	height: 100px;
	overflow: scroll;
}

.message {
	color: RED;
}

.state-icon {
	left: -5px;
}

.list-group-item-primary {
	color: rgb(255, 255, 255);
	background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
	margin-bottom: 0px;
}