@CHARSET "UTF-8";

.dMELI1 {
	height: 40px;
	background-color: #B8B8B8;  /* #B8B8B8; */
	vertical-align: middle;
	line-height: 40px;
	text-indent: 5%;
	font-weight: bold;
	font-size: 13px;
}

.dMECO {
	width: 100%;
	height: auto;	
	overflow:auto;
	border: 0px solid red;
	border-bottom: 0.3px solid #C8C8C8;
	border-right: 0.3px solid #C8C8C8;
}

.dMELI2 {
	height: 25px;
	background-color: #F0F0F0;
	vertical-align: middle;
	line-height: 25px;
	text-indent: 10%;
	font-size: 13px;
	padding: 4px;
}
.dMELI2 a{
	text-decoration: none;
	font-size: 12px;
	color: #3399ff;
}
.dMELI2 a:HOVER{
	text-decoration: underline;
	color: #ff00ff;
}
.dMELI2 a:LINK, .dMELI2 a:VISITED{
	color: #3399ff;
}