@CHARSET "UTf-8";
/*
	CSS for Header
*/
.dFOCO {
	height: 60px;
	width: 100%;
	margin: auto;
	border: 0px solid;
	font-family: Candana;
	font-size: 14px;
	text-align: center;
	vertical-align: top;
	background-color: #F0F0F0;
	border: 0px solid #C8C8C8;
	border-radius: 0px 0px 10px 10px;
}
