@CHARSET "ISO-8859-1";

body {
    background-color: #001a33;
}

#fixed-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    vertical-align: middle;
    line-height: 80px;
    text-align: center;
    box-shadow: 1px 2px #888, -10px -10px #f4f4f4, 0px 0px 5px 5px #cc6600;
}

.wapper {
    margin: auto;
    height: 550px;
    width: 40%;
    border: 1px solid #ebebe0;
    margin-top: 100px;
    /*  margin: 100px 300px 0px 300px; */
    background-color: #fff;
}

.dLABLE1 {
    text-indent: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 0px 10px;
    height: 30px;
    border: 0px solid;
}

.dLABLE2 {
    text-align: center;
    font-family: Candana;
    margin: 0px 40px 0px 40px;
    height: 100px;
    border: 1px solid #fff;
    vertical-align: top;
    line-height: 15px; 
}

.dFIELD {
    height: 55%;
}

p:nth-child(1) {
    font-size: 22px;
    color: #6b6b47;
}

p:nth-child(2) {
    font-size: 13px;
    color: #6b6b47;
    /*    margin: 20px 60px 20px 60px; */
}

table {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 0px solid;
    height: 100%;
}

.iDATA {
    width: 100%;
    height: 90%;
    text-indent: 4px;
    border-style: none;
    border: 1px solid #d6d6c2;
    border-radius: 3px;
}

.iDATA_Error {
    width: 100%;
    height: 90%;
    text-indent: 4px;
    border-style: none;
    border: 1px solid #d6d6c2;
    border-radius: 3px;
    border-color: RED;
}

td {
    padding: 5px;
    border: 0px solid #d6d6c2;
}

#hID1 {
    margin: 10px 20px 20px 20px;
}

#pID1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #6b6b47;
}

.dFOOTER {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.iSIGNIN{
    width: 50%; margin-top: 0px; height: 100%; background-color: #3399ff; border-style: none; border-radius: 2px;                     
}
.dSIGNIN{
    text-align: center; height: 18%;
    vertical-align: middle;
}
.fSIGNIN{
    width: 100%;
    height: 80%
}
 .dREM {
    height: 10%;
    color: #6b6b47;
} 
.aFORGOT{
    text-decoration: none;
    color:#0080ff ;
    font-size: 16px;
    margin: auto;
}
.dFORGOT{
    margin-top: -90px;
    height: 10%;
    text-align: center;
}
.warning{
    border: 1px solid red;
}