/* @CHARSET "ISO-8859-1";
* {
	margin: 0px;
	padding: 0px;
} 
*/
.main_menu {
	background: #FF8533;
	margin-top: 100px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

.main_menu>ul>li {
	float: left;
	padding: 11px 27px;
	position: relative;
	border-right: 1px dotted black;
}

.main_menu ul li:hover {
	background: black;
	transition: all 0.25s;
	/* CSS3 transitions allows you to change property values smoothly (from one value to another), over a given duration. */
}

.main_menu>ul>li>ul {
	display: none; 
	position: absolute; 
	background: #29A329;
	top: 41px;
	width: 198px;
	left: 0px;
}

.main_menu>ul>li:hover ul {
	display: block;
}

.main_menu>ul>li>ul>li {
	padding: 5px 10px;
	border-bottom: 1px dotted #ACACAC;
} 
/*
.main_menu>ul>li>ul>li {
	
}
*/
.main_menu>ul>li:last-child {
	border-right: none;
}

/*
.main_menu .arrow{
	font-size: 9px;
	color: white;
} 
 .clear {
	clear: both;
}
.wrapper {
	width: 100%px;
	height: 43px;
	margin: 0px auto;
} */