@CHARSET "UTF-8";

.inWapper {
	width: 95%;
	border: 0px solid;
	background-color: white;
	margin: auto; height : auto;
	overflow: auto;
	height: auto;
}

.inTitle {
	height: 40px;
	width: 100%;
	background-color: #B8B8B8;
	font-family: Candana;
	font-size: 20px;
	font-weight: bolder;
	line-height: 40px;
	text-indent: 10px;
	
}

.inContent {
	height: auto;
	overflow: auto;
}
.inPath{
	margin-top: 10px;
	height: 30px;
	background-color: #F0F0F0;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}