<div class="dMELI1">Clazz Management</div>
<div class="dMELI2">
    <a href="#" id="clazz_list"><span>&#8594;</span> Clazz Information</a>
</div>
<div class="dMELI2">
    <a href="#" id="clazz_archive"><span>&#8594;</span> Class Archive</a>
</div>

<div class="dMELI1">Course Management</div>
<div class="dMELI2">
    <a href="#" id="course_list"><span>&#8594;</span>Course List</a>
</div>
<div class="dMELI2">
<!-- id="course_add" -->
    <a href="#" id="course_add"><span>&#8594;</span> Add Course</a>
</div>

<div class="dMELI1">Trainee Management</div>
<div class="dMELI2">
    <a href="#" id="trainee_pool"><span>&#8594;</span>Trainee Pool</a>
</div>
<div class="dMELI2">
    <a href="#"><span>&#8594;</span> Upload GPA</a>
</div>
<div class="dMELI2">
    <a href="#"><span>&#8594;</span> Checkpoint</a>
</div>
<div class="dMELI2">
    <a href="#"><span>&#8594;</span> Add Trainee</a>
</div>
 <div class="dMELI2">
    <a href="#" id = "trainee_import"><span>&#8594;</span> Import Trainee</a>
</div>

<div class="dMELI1">Trainer Management</div>
<div class="dMELI2">
    <a href=""><span>&#8594;</span> Trainer Pool</a>
</div>
<div class="dMELI2">
    <a href=""><span>&#8594;</span> Add Trainer</a>
</div>